:root {
  --loaderContainerColor : #262626;
}

.lo965LoaderContainer {
  background-color: var(--loaderContainerColor);
  color:white;
  height: 100vh;
  width: 100vw;;
  overflow:hidden;
}

.lo965LoaderContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
}

.lo965LoaderContent i {
  font-size:2rem;
}
