:root {
  --errorContainerBackgroundColor : rgb(255, 215, 215);
  --errorContainerBorderColor : rgb(163,0,0);
}

.er908ErrorContainer {
  background-color: var(--errorContainerBackgroundColor);
  padding:3em;
  letter-spacing: 0.5px;
  line-height: 2rem;
  border:1px solid var(--errorContainerBorderColor);
}

.er908ErrorHeading {
  font-size:1.2em;
  font-weight:bold;
  color : var(--errorContainerBorderColor);
}

.er908ErrorMsg {
  font-size:1.2em; 
  font-weight:bold;
  color: var(--errorContainerBorderColor);
}
