:root {
  --headerHeadingColor : #1b9aaa;
}

.he219Header h1 {
  color: var(--headerHeadingColor);
  font-weight:bolder;
  letter-spacing: 0.5px;
  text-align: center;
  margin:10px;
  text-decoration: underline;
}
