:root {
  --boxBackground:#1b9aaa;
  --resetBtnColor:#014750;
  --outerBoxContainerBorderColor:#eee;
  --outerBoxContainerBoxShadowColor:#ccc;
}

.boxContainer {
  background-color: var(--boxBackground);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 41vw;
  box-shadow: 0px 5px 5px var(--boxBackground);
  border: 1px solid var(--boxBackground);
  margin: auto;
  margin-bottom: 25px;
}

.outerBoxContainer {
  box-shadow: 10px 10px 5px var(--outerBoxContainerBoxShadowColor);
  padding: 20px;
  border: 1px solid var(--outerBoxContainerBorderColor);
  text-align: center;
  margin: 20px;
}

.resetBtn button {
  background-color: var(--resetBtnColor) !important;
  color:wheat !important;
  border:none;
  padding:10px 20px;
  font-weight:bold;
  font-size:1.2rem;
  letter-spacing: 0.5px;
  border-radius: 3px;
}

.resetBtn i {
  transition: 0.5s !important;
  transform: rotate(0deg) scale(1,1);
}

.resetBtn i:hover {
  transform: rotate(90deg) scale(1.1,1.1);
}

.resetBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width:1096px) {
  .boxContainer {
    width:50vw;
  }
}

@media(max-width:600px) {
  .boxContainer {
    width:60vw;
  }
}

@media(max-width:400px) {
  .boxContainer {
    width:75vw;
  }
}
