:root {
  --boxBackground:#1b9aaa;
  --outerBoxContainerBorderColor:#eee;
  --outerBoxContainerBoxShadowColor:#ccc;
}

.bc598BoxContainer {
  background-color: var(--boxBackground);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 44vw;
  box-shadow: 0px 5px 5px var(--boxBackground);
  border: 1px solid var(--boxBackground);
  margin: auto;
  margin-bottom: 25px;
}

.bc598OuterBoxContainer {
  box-shadow: 10px 10px 5px var(--outerBoxContainerBoxShadowColor);
  padding: 20px;
  border: 1px solid var(--outerBoxContainerBorderColor);
  text-align: center;
  margin: 20px;
}

@media(max-width:541px) {
  .bc598BoxContainer {
    width:54vw;
  }
}

@media(max-width:415px) {
  .bc598BoxContainer {
    width:74vw;
  }
}

