:root {
  --boxBackgroundColor: #DDDBCB;
  --boxColor: #1b9aaa;
  --boxOnHoverBackgroundColor: #ffffff;
  --boxOnHoverColor: #8a2be2;
}

.b490Box {
  background-color: var(--boxBackgroundColor);
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  cursor: pointer;
  color: var(--boxColor);
  font-weight: bold;
  font-size: 2em;
  border-radius: 3px;
  transition-duration: 0.5s;
}

.b490Box:hover {
  background-color: var(--boxOnHoverBackgroundColor);
  color: var(--boxOnHoverColor);
}

.b490Disable {
  pointer-events: none;
}

@media(max-width:415px) {
  .b490Box {
    width: 17vw;
  }
}

