:root {
  --playerColor : #1b9aaa;
  --playerNameBorderColor : black;
}

.pl367Player { 
  color: var(--playerColor);
}

.pl367PlayerName:after{
  border-bottom:1px solid var(--playerNameBorderColor);
  width:100%;
}
